<?xml version="1.0"?>
<config>
    <modules>
        <OsStudios_MultiCarrier>
            <version>0.1.0.0</version>
        </OsStudios_MultiCarrier>
    </modules>
    <global>
        <helpers>
            <multicarrier>
                <class>OsStudios_MultiCarrier_Helper</class>
            </multicarrier>
        </helpers>
        <blocks>
            <multicarrier>
                <class>OsStudios_MultiCarrier_Block</class>
            </multicarrier>
        </blocks>
        <models>
            <multicarrier>
                <class>OsStudios_MultiCarrier_Model</class>
            </multicarrier>
        </models>
        <resources>
            <multicarrier_setup>
                <setup>
                    <module>OsStudios_MultiCarrier</module>
                </setup>
                <connection>
                    <use>core_Setup</use>
                </connection>
            </multicarrier_setup>
        </resources>
    </global>
</config>
